---
layout: default
title: Blog
---

<!-- Posts Index
================================================== -->
<section class="recent-posts" style="margin-top: 100px;">

  <div class="section-title">

      <h2><span>Blogs</span></h2>

  </div>

  <div class="row listrecent">

      {% for post in site.posts %}

      {% if post.categories contains "blog" %}

          {% include featuredbox.html %}

      {% endif %}

      {% endfor %}

  </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

